h3 {
    text-align: center;
    text-decoration-line: underline;
    color: crimson;
    margin-top: 20x;
}

.container {
    size: 90%;
    background-color: ghostwhite;
}

.container h3 {
    color: #f7325e;
    font-family: fantasy;
    text-align: center;
    margin-top: 45px;
}

#project {
    text-align: center;
}

#tropical {
    margin: 25px;
    text-align: justify;
}

h5 {
    color: red;
    text-decoration-line: underline;
    text-align: center;
}

.links {
    color: royalblue;
}

h2 {
    text-align: center;
    margin-top: 100px;
}

img {
    width: 460;
    height: 345;
    text-align: center;
}

footer {
    background-color: rgb(11, 116, 236);
    height: 140px;
    text-align: left;
}

strong {
    color: white;
}

footer li {
    color: white;
}

footer p {
    color: white;
}