h3 {
    text-align: center;
    text-decoration-line: underline;
    color: crimson;
    margin-top: 20x;
}

.container {
    size: 90%;
    background-color: ghostwhite;
}

.container h3 {
    color: #f7325e;
    font-family: fantasy;
    text-align: center;
    margin-top: 45px;
}

#project {
    text-align: center;
}

#tropical {
    margin: 25px;
    text-align: justify;
}

h5 {
    color: red;
    text-decoration-line: none;
}

.links {
    color: royalblue;
}